.nav-bar {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    &.mat-icon-button {
       font-size: 12px;
    }
}

.task-detail {
    padding: 26px;
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 900px;
}
